<a href="https://colab.research.google.com/github/santhoshbvsrk/CapstoneProjects/blob/main/DataAnalytics_CDF/InsaidTelecom_CDFCapstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 

*  As the dataset is huge, we'll zip it, upload the zip file to google drive and mount your google drive to colab, unzip it to access data from your colab.


*   Import the drive package from google.colab library to mount your google drive on to google colab.

In [1]:
from google.colab import drive
drive.mount ('/content/gdrive')

Mounted at /content/gdrive



*   Once mounting is completed, mention the path of your zip file which contains the data to read.

In [4]:
!unzip gdrive/My\ Drive/CDF_Capstone_Project1/events_data.zip

Archive:  gdrive/My Drive/CDF_Capstone_Project1/events_data.zip
  inflating: events_data.csv



*   Once mounting and unzipping is completed successfully, you should be able to see the zip file contains in your colab folder.

In [5]:
import pandas as pd 
import numpy as np

In [6]:
df=pd.read_csv("events_data.csv")
df.head()

   event_id     device_id            timestamp  ...   latitude      city       state
0   2765368  2.973348e+18  2016-05-07 22:52:05  ...  28.730140     Delhi       Delhi
1   2955066  4.734221e+18  2016-05-01 20:44:16  ...  22.660325  Calcutta  WestBengal
2    605968 -3.264500e+18  2016-05-02 14:23:04  ...  28.757906     Delhi       Delhi
3    448114  5.731369e+18  2016-05-03 13:21:16  ...  13.153332   Chennai   TamilNadu
4    665740  3.388880e+17  2016-05-06 03:51:05  ...  23.842609    Bokaro   Jharkhand

[5 rows x 7 columns]