<a href="https://colab.research.google.com/github/santhoshbvsrk/CapstoneProjects/blob/main/DataAnalytics_CDF/InsaidTelecom_CDFCapstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 

*  As the dataset is huge, we'll zip it, upload the zip file to google drive and mount your google drive to colab, unzip it to access data from your colab.


*   Import the drive package from google.colab library to mount your google drive on to google colab.

In [4]:
from google.colab import drive
drive.mount ('/content/gdrive')

Mounted at /content/gdrive



*   Once mounting is completed, mention the path of your zip file which contains the data to read.

In [5]:
!unzip gdrive/My\ Drive/CDF_Capstone_Project1/events_data.zip

Archive:  gdrive/My Drive/CDF_Capstone_Project1/events_data.zip
  inflating: events_data.csv



*   Once mounting and unzipping is completed successfully, you should be able to see the zip file contains in your colab folder.

In [6]:
import pandas as pd 
import numpy as np

In [10]:
events_data_df=pd.read_csv("events_data.csv")
events_data_df.head()

   event_id     device_id            timestamp  ...   latitude      city       state
0   2765368  2.973348e+18  2016-05-07 22:52:05  ...  28.730140     Delhi       Delhi
1   2955066  4.734221e+18  2016-05-01 20:44:16  ...  22.660325  Calcutta  WestBengal
2    605968 -3.264500e+18  2016-05-02 14:23:04  ...  28.757906     Delhi       Delhi
3    448114  5.731369e+18  2016-05-03 13:21:16  ...  13.153332   Chennai   TamilNadu
4    665740  3.388880e+17  2016-05-06 03:51:05  ...  23.842609    Bokaro   Jharkhand

[5 rows x 7 columns]

In [12]:
events_data_df['state'].value_counts()

Delhi                       751733
Maharashtra                 677105
TamilNadu                   436282
AndhraPradesh               321332
MadhyaPradesh               232690
Rajasthan                   196361
WestBengal                  196161
Karnataka                    99058
UttarPradesh                 94750
Gujarat                      42881
Bihar                        35472
Punjab                       26195
Kerala                       23148
Haryana                      21053
Jharkhand                    18060
Orissa                       15904
Telangana                    12784
Assam                        12021
Chhattisgarh                  9754
Uttaranchal                   7720
JammuandKashmir               5385
Goa                           3250
Nagaland                      2298
Pondicherry                   1741
Mizoram                       1613
Meghalaya                     1515
AndamanandNicobarIslands      1515
HimachalPradesh               1409
Manipur                        989
Chandigarh                     894
Tripura                        892
ArunachalPradesh               608
Name: state, dtype: int64

Filtering out events_data for only 6 states as per the requirement given.

In [23]:
events_data_filtered_df= events_data_df[(events_data_df.state == 'WestBengal') | (events_data_df.state == 'Karnataka') | (events_data_df.state == 'Gujarat') | (events_data_df.state == 'Bihar') | (events_data_df.state == 'Punjab') | (events_data_df.state == 'Kerala')]

In [24]:
events_data_filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 422915 entries, 1 to 3252921
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   event_id   422915 non-null  int64
 1   device_id  422867 non-null  float64
 2   timestamp  422915 non-null  object
 3   longitude  422873 non-null  float64
 4   latitude   422873 non-null  float64
 5   city       422915 non-null  object
 6   state      422915 non-null  object
dtypes: float64(3), int64(1), object(3)
memory usage: 25.8+ MB

Installing mysql connector for python

In [27]:
pip install mysql-connector-python-rf

Requirement already satisfied: mysql-connector-python-rf in /usr/local/lib/python3.7/dist-packages (2.2.2)

import package to connect to mysql and loading data from tables to dataframes

In [28]:
import mysql.connector

#this is to connect to mysql database
mydb = mysql.connector.connect(
  host="cpanel.insaid.co",
  user="student",
  password="student",
  database="Capstone1"
)

#declaring a cursor variable of database to hold data of a specific table
mycursor = mydb.cursor()

#mycursor variable holds the entire data from gender_age_train table
mycursor.execute("SELECT * FROM gender_age_train")

#using fetchall function to get data from cursor and populating in another variable
myresult = mycursor.fetchall()

#inserting table data from variable into a dataframe
gender_age_train_df = pd.DataFrame(myresult,columns=['device_id','Gender','Age','Age_Group'])

#mycursor variable holds the entire data from phone_brand_device_model table
mycursor.execute("SELECT * FROM phone_brand_device_model")

#using fetchall function to get data from cursor and populating in another variable, this overwrites data from previous load
myresult = mycursor.fetchall()

#inserting table data from variable into a dataframe
phone_brand_device_model_df = pd.DataFrame(myresult,columns=['device_id','Brand','Model'])

#printing sample data from the dataframes
print("Data from Gender_Age_Train Table")
print("---------------------------------")
print(gender_age_train_df.head())
print("**************************************")
print("\n")
print("Data from Phone_Brand_Device_Model Table")
print("-----------------------------------------")
print(phone_brand_device_model_df.head())
print("**************************************")

Data from Gender_Age_Train Table
---------------------------------
             device_id Gender  Age Age_Group
0 -8076087639492063270      M   35    M32-38
1 -2897161552818060146      M   35    M32-38
2 -8260683887967679142      M   35    M32-38
3 -4938849341048082022      M   30    M29-31
4   245133531816851882      M   30    M29-31
**************************************


Data from Phone_Brand_Device_Model Table
-----------------------------------------
             device_id Brand    Model
0  1877775838486905855  vivo      Y13
1 -3766087376657242966    小米     V183
2 -6238937574958215831  OPPO      R7s
3  8973197758510677470    三星    A368t
4 -2015528097870762664    小米  红米Note2
**************************************

In [25]:
events_data_filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 422915 entries, 1 to 3252921
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   event_id   422915 non-null  int64
 1   device_id  422867 non-null  float64
 2   timestamp  422915 non-null  object
 3   longitude  422873 non-null  float64
 4   latitude   422873 non-null  float64
 5   city       422915 non-null  object
 6   state      422915 non-null  object
dtypes: float64(3), int64(1), object(3)
memory usage: 25.8+ MB

In [ ]:
gender_age_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74645 entries, 0 to 74644
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   device_id  74645 non-null  int64
 1   Gender     74645 non-null  object
 2   Age        74645 non-null  int64
 3   Age_Group  74645 non-null  object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB

In [ ]:
phone_brand_device_model_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87726 entries, 0 to 87725
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   device_id  87726 non-null  int64
 1   Brand      87726 non-null  object
 2   Model      87726 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

Checking how many device_id from gender_age_train_df are present in events_data_df

In [29]:
count=0
for id in gender_age_train_df['device_id']:
  events_data_filtered_df[events_data_filtered_df['device_id']==id]
  count=count+1
  
print("Number of DeviceIds common in EventsData & GenderAgeTrain are: ",count)

Number of DeviceIds common in EventsData & GenderAgeTrain are:  74645

In [30]:
count=0
for id in phone_brand_device_model_df['device_id']:
  events_data_filtered_df[events_data_filtered_df['device_id']==id]
  count=count+1
  
print("Number of DeviceIds common in EventsData & PhoneBrandDeviceModel are: ",count)

Number of DeviceIds common in EventsData & PhoneBrandDeviceModel are:  87726

From this we can say that all the device_id present in phone_brand_device_model_df are present in events_data_df

In [ ]:
events_data_df['device_id'].value_counts(ascending=False)

 5.536513e+18    33426
-4.792366e+18    14568
 4.428421e+17     6731
-6.242501e+18     4150
-8.340098e+18     3973
                 ...
 1.811198e+18        1
-6.853438e+18        1
-6.429648e+17        1
 4.889676e+18        1
-4.243579e+18        1
Name: device_id, Length: 60865, dtype: int64

In [ ]:
gender_age_train_df['device_id'].value_counts(ascending=False)

 2257159551899998892    1
-5859103589956090399    1
-1824840104697287357    1
 4676982795249941605    1
-4498445842577775035    1
                       ..
 1973456509863984167    1
-6615755711424206170    1
 7038954467068358105    1
 452720611336482113     1
 8954493586702958652    1
Name: device_id, Length: 74645, dtype: int64

In [ ]:
phone_brand_device_model_df['device_id'].value_counts(ascending=False)

 4297421574931963628    1
-6683447465042266790    1
-2025398450464681486    1
-2104282943635898244    1
-1079794670707116889    1
                       ..
-8243778303410121446    1
 4963348570238922413    1
 2156147271872893762    1
-3354736606620104853    1
 8954493586702958652    1
Name: device_id, Length: 87726, dtype: int64

In [ ]:
gender_age_train_df['Gender'].value_counts()

M    47904
F    26741
Name: Gender, dtype: int64

In [ ]:
phone_brand_device_model_df['Brand'].value_counts(ascending=False)

小米      21645
三星      19211
华为      15181
vivo     7596
OPPO     6717
        ...
欧沃          1
瑞高          1
E人E本        1
世纪星         1
西门子         1
Name: Brand, Length: 116, dtype: int64

Merging Dataframes on device_id to create a single dataframe which contains customer age, gender, mobile brand and model

In [31]:
device_data_df=pd.merge(events_data_filtered_df,gender_age_train_df,on='device_id',how='left')
device_data_df.fillna(0,inplace=True)
device_data_df

        event_id     device_id            timestamp  ...  Gender  Age Age_Group
0        2955066  4.734221e+18  2016-05-01 20:44:16  ...       0  0.0         0
1         769546 -1.817502e+18  2016-05-01 14:07:23  ...       0  0.0         0
2        1750603 -5.598137e+18  2016-05-05 15:47:03  ...       0  0.0         0
3        3085968 -3.808297e+18  2016-05-07 01:25:47  ...       0  0.0         0
4        1407594 -2.995508e+18  2016-05-03 20:01:35  ...       0  0.0         0
...          ...           ...                  ...  ...     ...  ...       ...
422910   1031712  6.508989e+18  2016-05-07 07:41:16  ...       0  0.0         0
422911   1171498 -7.054270e+18  2016-05-03 08:20:05  ...       0  0.0         0
422912   1960324 -7.434462e+17  2016-05-04 07:50:26  ...       0  0.0         0
422913   2243954 -3.275168e+18  2016-05-07 17:05:59  ...       0  0.0         0
422914   2805817  6.738526e+18  2016-05-05 14:13:58  ...       0  0.0         0

[422915 rows x 10 columns]

In [32]:
device_data_df=pd.merge(device_data_df,phone_brand_device_model_df,on='device_id',how='left')
device_data_df.fillna(0,inplace=True)
device_data_df

        event_id     device_id            timestamp  ...  Age_Group  Brand Model
0        2955066  4.734221e+18  2016-05-01 20:44:16  ...          0      0     0
1         769546 -1.817502e+18  2016-05-01 14:07:23  ...          0      0     0
2        1750603 -5.598137e+18  2016-05-05 15:47:03  ...          0      0     0
3        3085968 -3.808297e+18  2016-05-07 01:25:47  ...          0      0     0
4        1407594 -2.995508e+18  2016-05-03 20:01:35  ...          0      0     0
...          ...           ...                  ...  ...        ...    ...   ...
422910   1031712  6.508989e+18  2016-05-07 07:41:16  ...          0      0     0
422911   1171498 -7.054270e+18  2016-05-03 08:20:05  ...          0      0     0
422912   1960324 -7.434462e+17  2016-05-04 07:50:26  ...          0      0     0
422913   2243954 -3.275168e+18  2016-05-07 17:05:59  ...          0      0     0
422914   2805817  6.738526e+18  2016-05-05 14:13:58  ...          0      0     0

[422915 rows x 12 columns]

In [33]:
device_data_df[device_data_df['Gender']!=0]

        event_id     device_id            timestamp  ...  Age_Group  Brand      Model
48       1836426  3.872522e+18  2016-05-01 20:29:14  ...       M22-     酷派       8702
174      1282493 -2.049813e+16  2016-05-06 12:44:06  ...       F23-     小米       MI 3
216      2742349 -2.682955e+17  2016-05-06 10:53:24  ...       M22-   vivo     X5Max+
226      2120949 -4.051268e+18  2016-05-05 20:49:49  ...     F24-26     小米       MI 2
262      1876942  7.285787e+17  2016-05-01 04:48:23  ...       F23-     三星  Galaxy A5
...          ...           ...                  ...  ...        ...    ...        ...
421468   1162172 -1.447736e+18  2016-05-06 21:50:43  ...     M29-31   vivo      Y13iL
421626    112913 -1.575782e+16  2016-05-05 22:11:15  ...     M32-38   vivo       X5SL
422118   3016221  3.863012e+16  2016-05-04 22:32:15  ...     M32-38     小米       MI 3
422192    253485 -1.116277e+18  2016-05-02 14:32:24  ...     M23-26     小米    红米Note2
422357   1104956  3.197798e+16  2016-05-02 23:46:52  ...       F23-   OPPO         R3

[2641 rows x 12 columns]

In [34]:
device_data_df[device_data_df['Brand']!=0]

        event_id     device_id            timestamp  ...  Age_Group  Brand      Model
48       1836426  3.872522e+18  2016-05-01 20:29:14  ...       M22-     酷派       8702
174      1282493 -2.049813e+16  2016-05-06 12:44:06  ...       F23-     小米       MI 3
216      2742349 -2.682955e+17  2016-05-06 10:53:24  ...       M22-   vivo     X5Max+
226      2120949 -4.051268e+18  2016-05-05 20:49:49  ...     F24-26     小米       MI 2
262      1876942  7.285787e+17  2016-05-01 04:48:23  ...       F23-     三星  Galaxy A5
...          ...           ...                  ...  ...        ...    ...        ...
421468   1162172 -1.447736e+18  2016-05-06 21:50:43  ...     M29-31   vivo      Y13iL
421626    112913 -1.575782e+16  2016-05-05 22:11:15  ...     M32-38   vivo       X5SL
422118   3016221  3.863012e+16  2016-05-04 22:32:15  ...     M32-38     小米       MI 3
422192    253485 -1.116277e+18  2016-05-02 14:32:24  ...     M23-26     小米    红米Note2
422357   1104956  3.197798e+16  2016-05-02 23:46:52  ...       F23-   OPPO         R3

[2641 rows x 12 columns]