<a href="https://colab.research.google.com/github/santhoshbvsrk/CapstoneProjects/blob/main/DataAnalytics_CDF/InsaidTelecom_CDFCapstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 

*  As the dataset is huge, we'll zip it, upload the zip file to google drive and mount your google drive to colab, unzip it to access data from your colab.


*   Import the drive package from google.colab library to mount your google drive on to google colab.

In [1]:
from google.colab import drive
drive.mount ('/content/gdrive')

Mounted at /content/gdrive



*   Once mounting is completed, mention the path of your zip file which contains the data to read.

In [4]:
!unzip gdrive/My\ Drive/CDF_Capstone_Project1/events_data.zip

Archive:  gdrive/My Drive/CDF_Capstone_Project1/events_data.zip
  inflating: events_data.csv



*   Once mounting and unzipping is completed successfully, you should be able to see the zip file contains in your colab folder.

In [5]:
import pandas as pd 
import numpy as np

In [6]:
df=pd.read_csv("events_data.csv")
df.head()

   event_id     device_id            timestamp  ...   latitude      city       state
0   2765368  2.973348e+18  2016-05-07 22:52:05  ...  28.730140     Delhi       Delhi
1   2955066  4.734221e+18  2016-05-01 20:44:16  ...  22.660325  Calcutta  WestBengal
2    605968 -3.264500e+18  2016-05-02 14:23:04  ...  28.757906     Delhi       Delhi
3    448114  5.731369e+18  2016-05-03 13:21:16  ...  13.153332   Chennai   TamilNadu
4    665740  3.388880e+17  2016-05-06 03:51:05  ...  23.842609    Bokaro   Jharkhand

[5 rows x 7 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3252950 entries, 0 to 3252949
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   event_id   int64
 1   device_id  float64
 2   timestamp  object
 3   longitude  float64
 4   latitude   float64
 5   city       object
 6   state      object
dtypes: float64(3), int64(1), object(3)
memory usage: 173.7+ MB

import package to connect to MySql.

In [32]:
import mysql.connector

#this is to connect to mysql database
mydb = mysql.connector.connect(
  host="cpanel.insaid.co",
  user="student",
  password="student",
  database="Capstone1"
)

#declaring a cursor variable of database to hold data of a specific table
mycursor = mydb.cursor()

#mycursor variable holds the entire data from gender_age_train table
mycursor.execute("SELECT * FROM gender_age_train")

#using fetchall function to get data from cursor and populating in another variable
myresult = mycursor.fetchall()

#inserting table data from variable into a dataframe
gender_age_train_df = pd.DataFrame(myresult,columns=['DeviceID','Gender','Age','Age_Group'])

#mycursor variable holds the entire data from phone_brand_device_model table
mycursor.execute("SELECT * FROM phone_brand_device_model")

#using fetchall function to get data from cursor and populating in another variable, this overwrites data from previous load
myresult = mycursor.fetchall()

#inserting table data from variable into a dataframe
phone_brand_device_model_df = pd.DataFrame(myresult,columns=['DeviceID','Brand','Model'])

#printing sample data from the dataframes
print("Data from Gender_Age_Train Table")
print(gender_age_train_df.head())
print("**************************************")
print("\n")
print("Data from Phone_Brand_Device_Model Table")
print(phone_brand_device_model_df.head())
print("**************************************")

Data from Gender_Age_Train Table
              DeviceID Gender  Age Age_Group
0 -8076087639492063270      M   35    M32-38
1 -2897161552818060146      M   35    M32-38
2 -8260683887967679142      M   35    M32-38
3 -4938849341048082022      M   30    M29-31
4   245133531816851882      M   30    M29-31
**************************************


Data from Phone_Brand_Device_Model Table
              DeviceID Brand    Model
0  1877775838486905855  vivo      Y13
1 -3766087376657242966    小米     V183
2 -6238937574958215831  OPPO      R7s
3  8973197758510677470    三星    A368t
4 -2015528097870762664    小米  红米Note2
**************************************